//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 29 15:04:27 2017
//! **************************************************************************

SCHEMATIC START;
COMP "s<10>" LOCATE = SITE "AF12" LEVEL 1;
COMP "s<11>" LOCATE = SITE "AE8" LEVEL 1;
COMP "s<12>" LOCATE = SITE "AF8" LEVEL 1;
COMP "s<13>" LOCATE = SITE "AE13" LEVEL 1;
COMP "s<14>" LOCATE = SITE "AF13" LEVEL 1;
COMP "s<15>" LOCATE = SITE "AF10" LEVEL 1;
COMP "buzzer" LOCATE = SITE "AF24" LEVEL 1;
COMP "s<0>" LOCATE = SITE "AA10" LEVEL 1;
COMP "s<1>" LOCATE = SITE "AB10" LEVEL 1;
COMP "s<2>" LOCATE = SITE "AA13" LEVEL 1;
COMP "s<3>" LOCATE = SITE "AA12" LEVEL 1;
COMP "s<4>" LOCATE = SITE "Y13" LEVEL 1;
COMP "s<5>" LOCATE = SITE "Y12" LEVEL 1;
COMP "s<6>" LOCATE = SITE "AD11" LEVEL 1;
COMP "s<7>" LOCATE = SITE "AD10" LEVEL 1;
COMP "s<8>" LOCATE = SITE "AE10" LEVEL 1;
COMP "s<9>" LOCATE = SITE "AE12" LEVEL 1;
COMP "SEGDT" LOCATE = SITE "L24" LEVEL 1;
COMP "SEGEN" LOCATE = SITE "R18" LEVEL 1;
COMP "SEGCLK" LOCATE = SITE "M24" LEVEL 1;
COMP "SEGCLR" LOCATE = SITE "M20" LEVEL 1;
SCHEMATIC END;

