//NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18; 
NET "buzzer" LOC = AF24 | IOSTANDARD = LVCMOS33;
NET "s[0]" LOC = AA10 | IOSTANDARD = LVCMOS15; 
NET "s[1]" LOC = AB10 | IOSTANDARD = LVCMOS15; 
NET "s[2]" LOC = AA13 | IOSTANDARD = LVCMOS15;
NET "s[3]" LOC = AA12 | IOSTANDARD = LVCMOS15;
NET "s[4]" LOC = Y13 | IOSTANDARD = LVCMOS15;
NET "s[5]" LOC = Y12 | IOSTANDARD = LVCMOS15;
NET "s[6]" LOC = AD11 | IOSTANDARD = LVCMOS15;
NET "s[7]" LOC = AD10 | IOSTANDARD = LVCMOS15;

NET "s[15]" LOC = AF10 | IOSTANDARD = LVCMOS15;
NET "s[14]" LOC = AF13 | IOSTANDARD = LVCMOS15; 
NET "s[13]" LOC = AE13 | IOSTANDARD = LVCMOS15; 
NET "s[12]" LOC = AF8 | IOSTANDARD = LVCMOS15; 
NET "s[11]" LOC = AE8 | IOSTANDARD = LVCMOS15;
NET "s[10]" LOC = AF12 | IOSTANDARD = LVCMOS15;
NET "s[9]" LOC = AE12 | IOSTANDARD = LVCMOS15;
NET "s[8]" LOC = AE10 | IOSTANDARD = LVCMOS15;
NET "SEGCLK" LOC = M24 | IOSTANDARD = LVCMOS33 ;
NET "SEGCLR" LOC = M20 | IOSTANDARD = LVCMOS33 ;
NET "SEGDT"  LOC = L24 | IOSTANDARD = LVCMOS33 ;
NET "SEGEN"  LOC = R18  | IOSTANDARD = LVCMOS33 ;

//NET "clk200P" LOC=AC18 | IOSTANDARD = LVDS;
//NET "clk200N" LOC=AD18 | IOSTANDARD = LVDS;